<header>
    <div class="header-container">
        <div class="logo">
            <a data-nav=""><h1>Van Glenndon Enad</h1></a>
        </div>
        <nav>
            <ul>
                <li><a data-nav="">Home</a></li>
                <li><a data-nav="about/">About</a></li>
                <li><a data-nav="blogs/">Blogs</a></li>
                <li><a data-nav="contact/">Contact</a></li>
            </ul>
        </nav>
        <div class="mobile-menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
